<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dwisusanti.mygpssusanti">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- syntax digunakan untuk mendapatkan izin internet -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- syntax untuk GPS : berdasarkan sinyal satelit, akurasi tinggi sekitar 3m, waktu mendapatkan data lama-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- syntax untuk a-GPS : berdasarkan sinyal BTS, akurasi rendah sekitar 1km, waktu mendapatkan data cepat-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyGPSsusanti">
        <!-- untuk mendapatkan informasi lokasi -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>